{% extends 'base.html' %}

{% block title %}新增文章{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='toast-ui-editor-3.2.2/css/toastui-editor.min.css') }}"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <h2>新增文章</h2>
            <form method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">标题：</label>
                    <input type="text" class="form-control" id="title" placeholder="请输入文章标题" name="title"
                           required>
                </div>
                <div class="mb-3">
                    <label for="editor" class="form-label">正文：</label>

                    <!-- 用于生成Markdown编辑器的容器 -->
                    <div id="editor"></div>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" onclick="add()">保存</button>
                    <a href="{{ url_for('article.upload') }}" target="_blank" class="btn btn-secondary">上传图片</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='toast-ui-editor-3.2.2/js/toastui-editor-all.min.js') }}"></script>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '500px'
    });


    // 使用fetch API发送POST请求
    function add() {
        const formData = new FormData();

        // 向FormData对象添加数据
        let content = editor.getMarkdown()  // 从toastui的editor中获取Markdown内容
        let title = document.getElementById('title').value
        formData.append('title', title);
        formData.append('content', content);

        // console.log(title)
        // console.log(content)

        // 向后端发送post请求新增数据
        fetch('{{ url_for("article.add") }}', {
            method: 'POST',
            body: formData
        })
            .then(response => {
                // 处理响应
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                // console.log(response)
                window.location.href = '/';
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock %}