{% extends 'base.html' %}

{% block title %}新增文章{% endblock %}

{% block style %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">新增文章</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <form method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">标题：</label>
                    <input type="text" class="form-control" id="title" placeholder="请输入文章标题" name="title"
                           required>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">正文：</label>
                    <textarea class="form-control" id="content" rows="28" name="content"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">保存</button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#previewModal"
                            onclick="toMarkdown2()">
                        预览
                    </button>
                </div>
            </form>
        </div>

        <!-- 预览模态框Modal -->
        <div class="modal fade modal-lg" id="previewModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">预览：</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="markdownContent"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    function toMarkdown() {
        let raw = document.getElementById('content').value;
        let converter = new showdown.Converter({'tables': true, 'tasklists': true});
        let container = document.getElementById('markdownContent');
        container.innerHTML = converter.makeHtml(raw)
    }

    function toMarkdown2() {
        let raw = document.getElementById('content').value;
        document.getElementById('markdownContent').innerHTML =
            marked.parse(raw);
    }
</script>
{% endblock %}